<div class="col-md-6 offset-md-3">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        {{#if success}}
        <div class="alert alert-success" role="alert">
            Guardado correctamente.
        </div>
        {{/if}}

        <div class="card-body">
            <!-- Form -->
            <h1>Upload Csv</h1>
            <form action="/csv/create" method="POST" enctype="multipart/form-data">
                <!-- Inputs -->
                <div class="form-group">
                    <input type="file" name="hola">
                </div>
                <!-- Buttom -->
                <button type="submit" class="btn btn-success btn-block">Guardar</button>
            </form>
        </div>
    </div>
</div>