<!-- This is a reverse engineering of the "Hyperspace"
     design from HTML5 Up! https://html5up.net/hyperspace -->


  <aside class="sidebar">
    <nav class="nav">
     <h6 style="color: white;">
       {{user}}
     </h6>
      <ul>
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/csv/create">Cargar CSV</a></li>
        <li><a href="/simulator">Simulador</a></li>
        <li><a href="/saveAfluency">Agregar Afluencia</a></li>
      </ul>
    </nav>
  </aside>

