
<div class="row">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
            <!-- Form -->
            <h1>Upload Json</h1>
            <form action="/json/create" method="POST" enctype="multipart/form-data">
                <!-- Inputs -->
                <div class="form-group">
                    <input type="file" name="hola">
                </div>
                <!-- Buttom -->
                <button type="submit" class="btn btn-success btn-block">Save</button>
            </form>
        </div>
    </div>
</div>
