<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MetroSmart</title>
    <script src="https://kit.fontawesome.com/adb9bb0524.js" crossorigin="anonymous"></script>
    <!-- Boostrap 4 -->
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-yrfSO0DBjS56u5M+SjWTyAHujrkiYVtRYh2dtB3yLQtUz3bodOeialO59u5lUCFF" crossorigin="anonymous">
    <!-- Css -->

    <link rel="stylesheet" href="/css/main.css">
</head>

<body style="height: 100vh;">
<main class="main">
        {{{body}}}
</body>
</html>